.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 14px;
}

.table {
  border-collapse: collapse;
  min-width: 400px;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
}

.table thead {
  background-color: #f2f2f2;
}

.table thead th {
  padding: 10px;
  border: 1px solid #ccc;
}

.table tbody td {
  border: 1px solid #ccc;
  padding: 8px;
}
